$colornav: #f6f6f6;
$colorblue: #7296ec;
$colorfooter: #7297ef;
$colorwhite: #ffffff;
$colorsky-blue: #dce6ff;
$colorblack: #000000;
$colorgray: #a6a6a6;
$colordarkgray: #5e5f61;
$colorfooter-line: #cecece;
$colororange: #f78b3b;


$fs-26: 2.6rem;
$fs-24: 2.4rem;
$fs-20: 2rem;
$fs-18: 1.8rem;
$fs-16: 1.6rem;
$fs-14: 1.4rem;
$fs-13: 1.3rem;
$fs-12: 1.2rem;

$rem-1-6: 1.6rem;

// Border Radius
$b-r-60: 6rem;
$b-r-15: 1.5rem;
$b-r-13: 1.3rem;
$b-r-10: 1rem;
$b-r-5: 0.5rem;
$b-r-8: 0.8rem;

// Margin Bottom
$mb-100: 10rem;
$mb-80: 8rem;
$mb-60: 6rem;
$mb-50: 5rem;
$mb-40: 4rem;
$mb-30: 3rem;
$mb-25: 2.5rem;
$mb-20: 2rem;
$mb-17: 1.7rem;
$mb-10: 1rem;
